body {
    background-color: #85aae6;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .text {
    text-align: center;
    margin-top: 10rem;
    font-size: 1.5rem;
    color: #fff;
  }
  button {
    margin-left: 18rem;
    margin-top: 20px;
    width: 20%;
  }
 